@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}